*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.body{
  padding: 5rem;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0 1rem 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.356);
  ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    a{
      color: #000;
      text-decoration: none;
      font-size: 18px;
    }
  }
}
nav ul a:hover:active{
  border-bottom: 1px solid black;
}
.search{
  display: flex;
  justify-content: space-around;
  gap: 8px;
  .input{
    display: flex;
    align-items: center;
    border: none;
    padding:2px 10px ;
    background-color: rgba(128, 128, 128, 0.075);
    i{
      font-size: 18px;
    }
     }
    .icon a{
        text-decoration: none;
        color: #000;
        sup{
          background-color: red;
          border-radius: 10px;
          padding:0 2px;
          font-weight: 400;
          font-size: 10px;
          color: white;
          margin-left: -10px;
        }
    }
 
  input{
    border: none;
    background: none;
    outline:none;
   
  }
  i{
    font-size: 24px;
    font-weight: 200;
    cursor: pointer;
  }
}
.hero{
  display: flex;
  justify-content: space-around;
  width: 100%;
  ul{
    border-right: 1px solid gray;
    padding-top: 25px;
    padding-right:2rem ;
    padding-bottom: 0;
  }
  li{
   list-style-type: none;
   padding: 10px;
    i{
      padding-left: 2rem;
    }
  }
}
.img{
  padding-top: 31px;
  width: 60%;
  img{
    width: 100%;
    height: 100%;
    
  }
}
.today{
  margin: 5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .h4{
    border-left: 10px solid red;
    padding-left: 5px;
    color: red;
  }
}
.flashsale{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
.sales{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  
}
.time{
  display: flex;
  align-items:center;
  justify-content: space-around;
  gap: 1rem;
}
.arrow {
i{
  background-color: rgba(128, 128, 128, 0.349);
  border-radius: 10px;
font-size: 18px;
}
}
.card{
  img{
    height: 200px;
    background: rgba(128, 128, 128, 0.226);
    padding: 20px;
  }
  i{
    color: goldenrod;
  }
  .ri-heart-line{
    float: right;
    margin-top: -180px;
    padding-right: 5px;
    cursor: pointer;
  }
  .ri-eye-line{
    float: right;
    margin-top: -170px;
    padding-right: 5px;
    cursor: pointer;
  }
}
.items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.viewall {
  align-self: center;
  button{
    font-size: 16px;
  font-weight: 500;
  padding: 1rem 2rem;
  background-color: red;
  border: none;
  color: white;
  }
}
.categ-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.categ{
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  img{ 
    height: 100px;
    padding: 20px;
  }
}
.btn{
  button{
    padding: 7px 30px;
    font-size: 18px;
    border: none;
    background: red;
    color: white;
  }
}
.jbl{
  background-color: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.hour{
  background: white;
  color: #000;
  text-align: center;
  border-radius: 100px;
  font-size: 12px;
  padding: 10px;
}
.days{
  display: flex;
  gap: 20px;
}
.jbl-img{
  img{
  flex-shrink: 1;
    max-height: 400px;
    filter: drop-shadow(20px 20px 70px rgba(214, 212, 212, 0.6));
  }
}
.jbl-text{
  padding: 50px;
  text-wrap: wrap;
 h4{
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 228, 13);
}
 h1{
  font-size:4rem;
  padding: 20px 0;
 }
 button{
 font-size: 18px;
 padding: 10px 40px;
 background: rgb(13, 228, 13);
 border: none;
 color: white;
 margin-top: 20px;
 }
}
.enhance img{
  width:100%;
}

/*delivery*/
.delivery{
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  i{
    height: 50px;
    background-color: black;
    color: white;
    font-size: 30px;
    border-radius: 50px;
    padding: 10px;
  }
  h3{
   padding: 20px 0 10px 0;
  }
}
.exclus{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #000;
  color: white;
  align-items: start;
  
  text-wrap: wrap;
  padding: 3rem;
  input{
    background: none;
    color: white;
    border: 1px solid grey;
    padding: 8px;
  }
  h1{
    font-weight: 400;
    padding-bottom: 12px;
  }
  h3{
    font-weight: 400;
    padding-bottom: 24px;
  }
  h5{
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 12px;
  }
  h6{
    font-weight: 300;
  }
}


@media (max-width: 800px) {
  nav{
    display: none;
  }
  .body{
    padding: 1rem;
  }
  .hero{
    display:block;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    ul{
      border-right: 0px solid gray;
      padding-top: 25px;
      padding-right:2rem ;
      padding-bottom: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  .img{
    padding-top: 31px;
    width: 100%;
    img{
      width: 100%;
      height: 100%;
      
    }
  }
  .exclus{
    gap: 30px;
  }
  .sales{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
  }
  .flashsale{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .items{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
}